
* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #dce3fa;
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

body {
    background-image: url(../imagens/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position-y: -45px;
    background-attachment: fixed;
}


.card {
    width: 500px;
    height: fit-content;
    background-color: #6e649b;
    border-radius: 10px;
    border: solid 3px rgb(44, 53, 131);
    margin: 20px;
    padding: 20px;
}